body {
    background-color: green;
    font-family: Arial, sans-serif;
}


h1 {
    background-color: yellow;
    padding: 30px;
    width: 250px;
    border: 3px solid red;
    margin: 40px auto;
    border-radius: 30%;
    text-align: center;
}

h1:hover {
    background-color: crimson;
}


.gift {
    width: 150px;
    background-color: yellow;
    padding: 20px;
    border: 2px solid red;
    border-radius: 30%;
    transition: background-color 0.3s;
}


#gift1:hover{
    background-color: blue;

}
#gift2:hover{
    background-color: violet;

}
#gift3:hover{
    background-color: orangered;

}
.gift:nth-of-type(1) {
    margin-left: 200px;
}

.gift:nth-of-type(2) {
    margin-left: 350px;
    margin-top: -25px; 
}

.gift:nth-of-type(3) {
    margin-left: 510px;
    margin-top: -30px;
}
